@import 'tailwindcss';

@font-face {
	font-family: 'CaskaydiaCove Nerd Font';
	src: url('/fonts/CaskaydiaCoveNerdFontMono-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
	font-display: swap;
}

:root {
	font-family: 'CaskaydiaCove Nerd Font', monospace;
}

body {
	font-family: inherit;
}
